@use "./styles/_variables.scss" as *;
@use "./styles/base/_typography.scss" as *;

.App {
  position: relative; // for the app icon
  
  font-family: $font-family-text;
  text-align: center;
  font-size: $font-size-m;
  background-color: $color-bg-app;
  color: $color-text;

  margin: 0 $space-m 0 $space-m;
  
  min-width: 250px;
}

h1 {
  font-size: $page-title-font-size;
  color: $color-title;
}

.ResultArea {
  margin-bottom: $space-xxl;
}
